<div class="container">
    <div class="row">
        <h2>Fingerprint</h2>

        <div class="row flex spaceButton">
            <button (click)="getListAllDevices()">Get device</button>
            <button (click)="startCapture()">Start</button>
            <button (click)="stopCapture()">Stop</button>
            <button (click)="captureImage()">Capture</button>
        </div>
    </div>

    @if ( currentImgesFinger ) {
        <div class="row">
            <img class="fingerprint" src="data:image/jpeg;base64,{{currentImgesFinger}}" alt="fingerprint">
        </div>  
    } @else {
        <div class="row">
            <p>Here, you can see his capture !!</p>
        </div>
    }
</div>
