<div class="container">
    <div class="row mt-3">
        <div class="row flex spaceButton">
            <button type="button" class="btn btn-dark" (click)="getListAllDevices()" [disabled]="isInit">Get device</button>
            <button type="button" class="btn btn-dark" (click)="startCapture()" [disabled]="isStart">Start</button>
            <button type="button" class="btn btn-dark" (click)="stopCapture()" [disabled]="isStop">Stop</button>
        </div>
    </div>

    @if ( currentImgesFinger ) {
        <div class="row">
            <img class="fingerprint" src="data:image/jpeg;base64,{{currentImgesFinger}}" alt="fingerprint">
        </div>  
    } @else {
        <div class="row">
            <p>Here, you can see his capture !!</p>
        </div>
    }
</div>
